In [0]:
USE CATALOG acc_dev;
use schema nimish;

In [0]:
create table if not exists emp (id int, name string, city string)

In [0]:
insert into table emp values (1,'Nimish','NY'),(2,'Ravi','LA'),(3,'Ravi','LA')

In [0]:
update emp set name = 'Nitin' where id = 1

In [0]:
desc extended emp

In [0]:
describe history emp

In [0]:
describe detail emp

In [0]:
insert into emp values (4,'John','LA'),(5,'W','LA');
select * from emp

In [0]:
select * from emp version as of 3;
select * from emp version as of 4;

In [0]:
DELETE FROM emp WHERE 1 = 1

In [0]:
insert into acc_dev.naval.emp values (101,'Nimish','Hyd');
select * from acc_dev.naval.emp

##Restore

In [0]:
--restore table acc_dev.naval.emp

In [0]:
SELECT * FROM emp